/////////////////////////
//                     //
//     - COLORS -      //
//                     //
/////////////////////////

// -- Site General -------- //

$solidWhite: #fff;
$solidBlack: #000;
$offWhite: #fefefe;
$offBlack: #232323;
$red: #da1a32;
$redDark: #b11327;
$breadcrumbColor: #cecece;
$breadcrumbLink: #da1a32;

// -- Sidecart ------------ //

$scColor: $solidBlack;
$scRed: $red;
$scGreyDark: #323232;
$scGreyTrash: #bdbdbd;
$scGreyLight: #e4e4e4;
$scInputGrey: #f3f3f3;
$scAmountBtn: #dddddd;
$scInputBorder: #d7dbdb;
$scSubtotalBorder: #d6d6d6;
$scClose: #e55466;
$scCloseBG: #ad0f23;

// -- Info-bar ------------ //

$infoBG: #3a3a3a;

// -- Header -------------- //

$headBG: $solidWhite;
$headTitleBorder: #c5c5c5;
$headSubtitle: #747474;
$headHover: #9c9c9c;

// -- Footer -------------- //

$footer: $solidWhite;
$footerBG: $red;
$footerDark: $redDark;
$footerBorder: #ea7382;

// -- Home Product -------- //

// -- CTA - Summary ------- //

$sumBG: #f0f0f0;
$sumLink: $red;

// -- CTA - Video --------- //

$vidBG: #f0f0f0;

// -- Product Page -------- //

$pdpRed: #da1a32;
$pdpLiGrey: #d4d4d4;
$pdpPickBorder: #9f9f9f;
$pdpActiveBG: #f4f4f4;

$fpBG: #efefef;
$fpColor: #010101;
$fpLinkColor: #b10a1f;
$fpProductBG: $solidWhite;
$fpModelColor: #da1a32;
$fpAtcColor: $solidWhite;
$fpAtcBG: #da1a32;
$fpGreyLight: #f4f4f4;
$fpGreyDark: #9f9f9f;
$fpBtnColor: #da1a32;
$fpBtnBG: $solidWhite;
$fpBorder: #e8e8e8;
$fpShip: #a5a5a5;

// -- Youtube ------------- //

$youtubeBG: $red;
$youtubeDarkRed: $redDark;
$youtubeColor: $solidWhite;
$youtubeBtnColor: $red;

// -- Login Page ---------- //

$loginRed: $red;
$loginContentBG: #efefef;
$loginLabel: #323232;
$loginInputBG: #f8f8f8;
$loginInputBorder: #e7e7e7;

// -- Cart Page ----------- //

$cartRed: $red;
$cartBorder: #e5e5e5;
$cartTrash: #bdbdbd;
// $cartBG: #efefef;
$cartBG: #f9f9f9;

// -- Videos Page Colors -- //

$videoRed: $red;
$videoBG: $solidWhite;
$videoArrow: #bbbbbb;
$videoImg: #da1a33;
$videoBorder: #cdcdcd;
$videoHeadBG: #f0f0f0;

// -- Customer/Account ---- //

$accRed: $red;
$accLogout: #323232;
$accAddBorder: #cecece;
$accOffBlack: #323232;

// -- Customer/Order ------ //

$orderBG: #efefef;
$orderRed: $red;
$orderBlack: #323232;
$orderBorder: #cecece;
$orderOffBlack: #252525;

// -- Promo Modal --------- //

$pmColor: $solidBlack;
$pmCloseColor: #cecece;
$pmCloseHover: #da1a32;
$pmFeatColor: #da1a32;
$pmBtnColor: $solidWhite;
$pmBtnBG: #da1a32;
$pmGrey: #efb9bf;
$pmBorderB: #e46f79;

