/////////////////////////
//                     //
//  - General Vars -   //
//                     //
/////////////////////////

// -- Defaults ------------ //

$dTransition: all 0.2s ease;
$dSearch: all 0.3s ease-in-out;
$dSidenav: all .3s cubic-bezier(.77,.26,0,.98);
$dSidecart: all .3s cubic-bezier(.77,.26,0,.98);